@using Newtonsoft.Json
@using Projeto.Web.Models
@{
    //capturando os dados em JSON do usuario autenticado..
    string usuario = HttpContext.Current.User.Identity.Name;

    //deserializar os dados de JSON para objeto..
    var auth = JsonConvert.DeserializeObject<UsuarioAutenticado>(usuario);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebApplication</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/AdminLTE/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/AdminLTE/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/AdminLTE/dist/css/admin-lte.css" rel="stylesheet" />
    <link href="~/AdminLTE/dist/css/skins/skin-blue.css" rel="stylesheet" />

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini"><b>W</b>eb</span>
                <span class="logo-lg"><b>Fitec </b>FitCurriculo</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>


                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            @if (Request.IsAuthenticated)
                            {
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/AdminLTE/dist/img/user.svg" class="user-image" alt="User Image">
                                    <span class="hidden-xs">@auth.Nome</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                                        <p>
                                            @auth.Nome
                                        </p>
                                    </li>
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#"></a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#"></a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="user-footer">
                                        @using (Html.BeginForm("LogOff", "Usuario", FormMethod.Post, new { id = "Logout", @class = "" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="pull-left">
                                                @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-flat", title = "Manage" })
                                            </div>
                                            <div class="pull-right">
                                                @Html.ActionLink("Logout", "Logout", "Usuario", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-flat", title = "Logout" })
                                            </div>

                                        }
                                    </li>

                                    }
                                </ul>
                            }
                            else
                            {
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Cadastrar", "Cadastro", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    <li>@Html.ActionLink("Log in", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            }
                        </li>


                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/AdminLTE/dist/img/avatar.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        @if (Request.IsAuthenticated)
                        {
                            <small>@auth.Nome</small><br />

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        }
                        else
                        {
                            <p></p><br />
                            <a href="#"><i class="fa fa-circle text-danger"></i> Offline</a>

                        }

                    </div>
                </div>
            
                <ul class="sidebar-menu">
                    <li class="header">Menu Principal</li>
                   
                   
                    <li id="left-sidebar-menu-forms" class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>FitCurriculos</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-forms-general"><a href="@Url.Action("General", "Forms")"><i class="fa fa-circle-o"></i> Gerenciamento de currículos</a></li>
                            <li id="left-sidebar-menu-forms-advanced"><a href="@Url.Action("Advanced", "Forms")"><i class="fa fa-circle-o"></i> Currículos aprovados</a></li>
                            <li id="left-sidebar-menu-forms-editors"><a href="@Url.Action("Editors", "Forms")"><i class="fa fa-circle-o"></i>Currículos reprovados</a></li>
                        </ul>
                    </li>
                
               
                    <li id="left-sidebar-menu-documentation">
                        <a href="@Url.Action("Index", "Documentation")">
                            <i class="fa fa-book"></i>
                            <span>Sobre o FITCurriculos</span>
                        </a>
                    </li>
                  
                </ul>

            </section>
        </aside>

        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer navbar-fixed-bottom">
            <div class="pull-right hidden-xs">
                <b>Versão</b> 1.0
            </div>
            <strong>Desenvolvido por Daniel Costa.</strong>  &copy; 2019
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            
        </aside>
    </div>
    <script src="~/AdminLTE/plugins/jquery/js/jQuery-2.1.4.min.js"></script>
    @RenderSection("menu", required: false)
    <script src="~/AdminLTE/bootstrap/js/bootstrap.js"></script>
    <script src="~/AdminLTE/plugins/slimscroll/js/jquery.slimscroll.js"></script>
    <script src="~/AdminLTE/plugins/fastclick/js/fastclick.js"></script>
    <script src="~/Scripts/Shared/_Layout.js"></script>
    <script src="~/AdminLTE/dist/js/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
