@model Projeto.Entities.Recrutador
@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Excluir</h2>
@if (TempData["Sucesso"] != null)
{
    <h4><span class="label alert-success">@TempData["Sucesso"]</span></h4>
}
@if (TempData["Falha"] != null)
{
    <h4><span class="label alert-success">@TempData["Falha"]</span></h4>
}

<h3>Tem certeza que deseja excluir esse recrutador?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
            <div class="col-md-12">
                <input type="submit" value="Excluir" class="btn btn-default" />

                <br><br>
            </div>
            <div class="col-md-12">
                <p class=ion-arrow-return-left> <a href="/Recrutador/Consulta/">Voltar</a></p>
            </div>
        </div>
    </div>
}