@model Projeto.Web.Models.CandidatoViewModel
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Novo Candidato</h2>
@if (TempData["Sucesso"] != null)
{
    <div class="box-body">
        <h4><span class="label alert-success">@TempData["Sucesso"]</span></h4>
    </div>
}
@if (TempData["Falha"] != null)
{
    <div class="box-body">
        <h4><span class="label alert-danger">@TempData["Falha"]</span></h4>
    </div>
}
@if (TempData["Aviso"] != null)
{
    <div class="box-body">
        <h4><span class="label alert-warning">@TempData["Aviso"]</span></h4>
    </div>
}

@using (Html.BeginForm("Cadastro", "Candidato", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GrauInstrucao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GrauInstrucao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GrauInstrucao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdeCertificados, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdeCertificados, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QtdeCertificados, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Situacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.Situacao, Model.Situacoes, new { @class = "form-control", @enabled = "false" })
                @Html.ValidationMessageFor(model => model.Situacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Recrutador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.Recrutador, Model.Recrutadores, new { @class = "form-control", @enabled = "false" })
                @Html.ValidationMessageFor(model => model.Recrutador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Observacao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Observacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Currículo:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Arquivo" name="upload" />
            </div>
        </div>

        <div class="col-md-12">

            <input type="submit" value="Cadastrar" class="btn btn-default" />
            <br><br>
        </div>
        <div class="col-md-12">
            <p class=ion-arrow-return-left> <a href="/Candidato/Consulta">Voltar</a> </p>
        </div>
    </div>
}